/* The style sheet for pacman.html, pacman.css
 * I just need to be able to manipulate some elements
 * around on the page so it looks nice
 */

#allsliders
{
position:absolute;
top:100px;
left:500px;
}