/* The style sheet for pong.html, pong.css
I have fantastic, creative solutions for naming convention */

div#instructions
{
position: absolute;
left:850px;
top:10px;
}
div#lateral
{
position: fixed;
left:660px;
top:530px;
}
div#projection
{
position: fixed;
left:660px;
top:550px;
}
canvas
{
position: fixed;
cursor: none;
}

#allsliders
{
position:fixed;
top:520px;
width:100%;
}